<html>

<head>
    <!--L_DISABLE_3D = true for Androud!-->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->
<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.1.3"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>

<style>

.leaflet-popup-content-wrapper {
    background-color: #abc
}
#map
{
    background-image: url(../static/district_9.svg);
    height: 100%;
    width: 100%;
}

#map1 { height: 100%;
	width: 100%;
}


#panel { height: 100%;
		width: 30%;
	    background: #555;
		position: absolute;
		left: 70%;
		top:1.3%;
		bottom:95%;
	}

.ux-control {
background:#fff;
position:absolute;
top:10px;
right:10px;
padding:10px;
z-index:100;
border-radius:3px;
    } 
</style>
</head>

<body>
<div id="map">

<div id='output' class='ui-control'>
      Click: <code id='id_click'></code><br/>
      Mousemove: <code id='id_mousemove'></code><br/>
      Zoom: <code id='zoom'></code><br/>
</div>
<script>
    var click= document.getElementById('id_click'),
    mousemove = document.getElementById('id_mousemove'),
    zoombox = document.getElementById('zoom');


    //var myArray = ['#f21','#2f1','#000','#ff2']
    var myArray = ['#f00'];
    var lite = new L.StamenTileLayer("toner-lite");
    var dark = new L.StamenTileLayer("toner");
    var bgmap = new L.StamenTileLayer("terrain-background");
    var fgmap = new L.StamenTileLayer("toner-lines");
    var lbmap = new L.StamenTileLayer("toner-labels");
         
    var myLayer = new L.TileLayer.WMS("http://10.101.21.28/cgi-bin/qgis_mapserv.fcgi", {
      map: "/usr/lib/cgi-bin/test/test.qgs",
      layers: 'mylayer',
      format: 'image/png',
      transparent: 'FALSE',
    });

    var map = new L.Map("map", {
      center: new L.LatLng(37.76,-122.42),
      zoom: 14,
      minZoom: 11,
      maxZoom: 19,
      layers : [dark],
      //layers: [bgmap, fgmap, lbmap],
    });


//Initial Pass of Markers at default start zoom of 14. 
    var markers = new Array();
    var grpMarkers = new Array();
    var rawMarkers = new Array();
    var currentSelectedMarkerId = -1;;
    function zoomRadius(){ return  Math.pow(2, 12 - map.getZoom()) * 512};
    function clusterSize() { return Math.pow(2, 11 - map.getZoom()) * 7000.0}; 

    var json_firebase = new Firebase('https://popping-fire-3129.firebaseio.com/');
      json_firebase.on('value', function(data) {
      $.each(data.val(), function(i, value) {
        var eventListString = '';

        for (var j=0; j<value.events.length; j++) {
          var heightOffset = '';
          if (value.events[j].eventUrl.substring(11,18) == "youtube")
            heightOffset = '-262px' 
          else if (value.events[j].eventUrl.substring(14,19) == "vimeo")
            heightOffset = '-249px' 
          else
            heightOffset = '-69px';
            
        eventListString += '<div style="position:relative;width:300px;height:46px;overflow:hidden;"><div style="position:absolute;top:' 
                        + heightOffset 
                        + ';left:-2px"><iframe width="300" height="300" src="' 
                            + value.events[j].eventUrl  
                            + '"></iframe></div></div>'
				            + '<h2> ' + value.events[j].eventName + ' ' 
				            + value.events[j].eventTime + ' ' 
                            + value.events[j].eventPrice + ' </h2> <hr> <br>'
			}

          var randColor = myArray[Math.floor(Math.random() * myArray.length)];
          var binder = L.circle([value.lat, value.lng], zoomRadius(), {
            color: '#FFF',
            weight: 0,
            fillColor: randColor,
            fillOpacity: 0.8,
            //riseOnHover: true,
            //riseOffset: 50,
            zIndexOffset: 0 
          }).bindPopup('<a href="http://'+value.url+'"> <h1><font color="#F07">' + value.venue + '</font></h1> </a>' + eventListString); 

          
          rawMarkers.push(binder);
          //rawMarkers[rawMarkers.length-1].

          populateGroups(clusterSize(), binder); 

          //alert('Venue: '+ value.venue + 'Latitude = ' + value.lat + 'Longitude = ' + value.lng + '--> leafletID' + binder._leaflet_id);

          //if (i == data.length-1 ) binder.openPopup();
          //if (value.venue == "Amnesia") binder.openPopup();
		});

    //Now 2nd Pass through family Group to bind to map.
        secondPass();
    });    

    function secondPass() {
        markers = [];
        for (var k=0; k<grpMarkers.length; k++) {
          //var grpRadius = 0.75*zoomRadius()*grpMarkers[k]['mlist'].length;
          var grpRadius;
          var maxDist = -1;
          var dist;
          var clusterColor;
          var clusterGroup = new Array();
          for (var i=0; i<grpMarkers[k]['mlist'].length; i++)
          {
              for (var j=0; j<grpMarkers[k]['mlist'].length; j++)
              {
                  if (i != j) {
                      dist = grpMarkers[k]['mlist'][i]._latlng.distanceTo(grpMarkers[k]['mlist'][j]._latlng);
                      if (dist > maxDist) {maxDist = dist;}
                  }
              }
              clusterGroup.push(grpMarkers[k]['mlist'][i].getLatLng());
          }
          if (grpMarkers[k]['mlist'].length > 1)
          {
              //grpRadius = 0.75*maxDist+grpMarkers[k]['mlist'].length*10/map.getZoom();
              grpRadius = Math.max(2*zoomRadius(),0.5*maxDist);
              clusterColor = '#00F';
              var binder = L.circle([grpMarkers[k]['center'][0], grpMarkers[k]['center'][1]], grpRadius, {
                color: '#FFF',
                weight: 0,
                fillColor: clusterColor,
                fillOpacity: 0.5,
                zIndexOffset: 0 
              });
              markers.push(binder);
              markers[markers.length-1].addTo(map).on('click', zoomIn);
              /*for (var j=0; j<grpMarkers[k]['mlist'].length; j++) {
                grpMarkers[k]['mlist'][j].setRadius(zoomRadius());
                markers.push(grpMarkers[k]['mlist'][j]);
                markers[markers.length-1].addTo(map);
            }*/
          }
          else {
              markers.push(grpMarkers[k]['mlist'][0]);
              markers[markers.length-1].addTo(map);
          }
        }
    }

    function populateGroups(dist, binder){
        
         if (currentSelectedMarkerId != -1) {
              markers[currentSelectedMarkerId].setRadius(zoomRadius());
              markers[currentSelectedMarkerId].setStyle({color : '#FFF', fillColor : '#F00'});
              currentSelectedMarkerId = -1;
         }
         if (grpMarkers.length == 0) {
             //alert("Initial Family");
             var markerFamily = new Array();
             markerFamily.push(binder);
             //console.log(binder);
             grpMarkers.push({mlist : markerFamily, center : [binder._latlng.lat, binder._latlng.lng]});
         }
         else // Group Markers exist already. Find your closest group. 
         {
            //alert("Searching for a Family");
            var minDistance = 1000000.0;
            var myGroup = -1;
            for (var k=0; k<grpMarkers.length; k++) {
                var grpLoc = L.latLng(grpMarkers[k]['center'][0], grpMarkers[k]['center'][1]);
                var dstFrm = grpLoc.distanceTo(binder._latlng);
                if (dstFrm == 0.0) alert("WARNING: Two places at same lat/lng");
                if (dstFrm < minDistance) {
                    minDistance = dstFrm;
                    myGroup = k;
                }
            }
            if (myGroup == -1) alert("I am an orphan ... something went wrong");
            //Now push you into the group if closest distance < 100m, else create a new group 
            if (minDistance < dist) {
                //alert("Found one close enough");
                var currentGrpSize = grpMarkers[myGroup]['mlist'].length;
                //alert('curGrpSize: ' + currentGrpSize);
                grpMarkers[myGroup]['mlist'].push(binder);
                grpMarkers[myGroup]['center'][0] = (grpMarkers[myGroup]['center'][0] * currentGrpSize + binder._latlng.lat)/(currentGrpSize + 1);
                grpMarkers[myGroup]['center'][1] = (grpMarkers[myGroup]['center'][1] * currentGrpSize + binder._latlng.lng)/(currentGrpSize + 1);
            }
            else { // Create a new Grp and initialize it.
                //alert("Starting a new family");
                var markerFamily = new Array(); 
                markerFamily.push(binder);
                grpMarkers.push({mlist : markerFamily, center : [binder._latlng.lat, binder._latlng.lng]});
            }
         }
    }
    function onClick(e) {alert(this.getLatLng());}
    function zoomIn(e) {
        //map.fitBounds(L.latLngBounds(cGroup));
        map.setView(this.getLatLng(), map.getZoom()+2);
        //map.panTo(this.getLatLng());
        //map.setZoom(map.getZoom()+1);
    }


    map.on("zoomend", function(e) {

         if (currentSelectedMarkerId != -1) {
              markers[currentSelectedMarkerId].setRadius(zoomRadius());
              markers[currentSelectedMarkerId].setStyle({color : '#FFF', fillColor : '#F00'});
              currentSelectedMarkerId = -1;
         }
       zoombox.innerHTML = "you zoomed the map! to:" + map.getZoom();
       //var zoomRadius = Math.pow(2, 11 - map.getZoom()) * 512;
        if (map.getZoom() > 16) {
            for(var i=0; i<markers.length; i++) {map.removeLayer(markers[i]);}
            for(var j=0; j<rawMarkers.length; j++) {
                rawMarkers[j].setRadius(zoomRadius());
                rawMarkers[j].addTo(map);
                markers[j] = rawMarkers[j]; //for state consistency. 
            }
        }
        else {
            for(var i=0; i<markers.length; i++) {map.removeLayer(markers[i]);}
            grpMarkers = [];
            for(var j=0; j<rawMarkers.length; j++) {
                map.removeLayer(rawMarkers[j]);
                rawMarkers[j].setRadius(zoomRadius());
                rawMarkers[j].setStyle({color : '#FFF', weight : 0, fillColor : '#F00', fillOpacity : 0.8});
                populateGroups(clusterSize(), rawMarkers[j]);
            }
            secondPass();
            for(var i=0; i<markers.length; i++) {
                markers[i].addTo(map);
            }
        }
      }
    );
    
    map.on("resize", function(e) {
        //alert("Hi");
    });

    //map.on('mousemove click', function(e) {
    //    window[e.type].innerHTML = e.containerPoint.toString() + ', ' + e.latlng.toString();
    //});

    map.on('click', function(e) {
        window[e.type].innerHTML = e.containerPoint.toString() + ', ' + e.latlng.toString();
       var maxMoveRadius = -1, maxZindex = 0;
       var closestMarker = -1;
       var lastSelectedMarker = -1;
       var nearest = 1000000.0;
       for(i=0;i<markers.length;i++) {
               //moveRadius = Math.min(4*zoomRadius(), Math.max(zoomRadius(), zoomRadius()*Math.exp(2.5 - 0.015*markers[i].getLatLng().distanceTo(e.latlng))));
               //moveRadius = Math.max(250, 250 - markers[i].getLatLng().distanceTo(e.latlng));
               markerDistance = markers[i].getLatLng().distanceTo(e.latlng);
               //debugger;
               if ( (markerDistance < nearest) && (markers[i]._popup != null) ) 
               {
                   nearest = markerDistance;
                   closestMarker = i;
               }
               //if (markers[i].zIndexOffset > maxZindex)
               //{
               //    maxZindex = markers[i].options.zIndexOffset;
               //    alert(maxZindex);
               //}

               /*
               if ((moveRadius >= 2*zoomRadius) && (moveRadius == maxMoveRadius)) {
                   //markers[i].setZIndexOffset(maxZindex);
                   if (e.type == 'click') {
                       markers[i].openPopup();
                   }
               }
               */
           }  
           if (currentSelectedMarkerId != -1) {
               markers[currentSelectedMarkerId].setRadius(zoomRadius());
               markers[currentSelectedMarkerId].setStyle({color : '#FFF', fillColor : '#F00'});
           }

           markers[closestMarker].setRadius(1.33*zoomRadius());
           markers[closestMarker].setStyle({color : '#F00', weight : 2, fillColor : '#2F4', fillOpacity : 0.7});
           markers[closestMarker].bringToFront();
           currentSelectedMarkerId = closestMarker;
    });

</script>

 </div>



<!--div id="panel">
 	
 	<a href="http://www.amnesiathebar.com"> <h1> Amnesia bar <h1> </a> 
    			<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/69974084"></iframe> 
    			<h2> Snowapple 7pm, $5 </h2> <br>
    			<iframe src="http://player.vimeo.com/video/16101483"></iframe> 
    			<h2> Hella Tight 10pm, $5 </h2>

</div-->

</body>

</html>
