<html>

<head>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->
<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.1.3"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>

<style>

.leaflet-popup-content-wrapper {
    background-color: #abc
}

#map { height: 100%;
	width: 100%;
}


#panel { height: 100%;
		width: 30%;
	    background: #555;
		position: absolute;
		left: 70%;
		top:1.3%;
		bottom:95%;
	}

</style>
</head>

<body>
	<div id="map">

	<script>

		var stamen = new L.StamenTileLayer("toner-lite");
		     
		var myLayer = new L.TileLayer.WMS("http://10.101.21.28/cgi-bin/qgis_mapserv.fcgi", {
		    map: "/usr/lib/cgi-bin/test/test.qgs",
		    layers: 'mylayer',
		    format: 'image/png',
		    transparent: 'TRUE',
		});

		  var map = new L.Map("map", {
			  center: new L.LatLng(37.76,-122.42),
			  zoom: 15,
			  minZoom: 10,
			  maxZoom: 18,
			  layers: [stamen,myLayer],
		      });

/*		
		var map = L.map('map').setView([37.76, -122.42], 15);
		// add an OpenStreetMap tile layer
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
		maxZoom: 18
		}).addTo(map);
*/
            var json_firebase = new Firebase('https://popping-fire-3129.firebaseio.com/');
            json_firebase.on('value', function(data) {
		    $.each(data.val(), function(i, value) {
			//value = data.val()[i]  in a sense
			var eventListString = '';

			for (var j=0; j<value.events.length; j++) {
                var heightOffset = '';
                if (value.events[j].eventUrl.substring(11,18) == "youtube")
                    heightOffset = '-262px' 
                else if (value.events[j].eventUrl.substring(14,19) == "vimeo")
                    heightOffset = '-249px' 
                else
                    heightOffset = '-69px';
                eventListString += '<div style="position:relative;width:300px;height:46px;overflow:hidden;"><div style="position:absolute;top:' + heightOffset + ';left:-2px"><iframe width="300" height="300" src="' + value.events[j].eventUrl  + '"></iframe></div></div>'
				    + '<h2> ' + value.events[j].eventName + ' ' 
				      + value.events[j].eventTime + ' ' 
                      + value.events[j].eventPrice + ' </h2> <hr> <br>'
			}

			var binder = L.circle([value.lat, value.lng], 25,
				{
				    color: '#abc',
				    fillColor: '#f07',
				    fillOpacity: 0.5
				})
				.addTo(map)
                .bindPopup('<a href="http://'+value.url+'"> <h1><font color="#F07">' + value.venue + '</font></h1> </a>' + eventListString); 

		    
			//if (i == data.length-1 ) binder.openPopup();
            if (value.venue == "Monarch") binder.openPopup();
		});
	});

</script>

 </div>



<!--div id="panel">
 	
 	<a href="http://www.amnesiathebar.com"> <h1> Amnesia bar <h1> </a> 
    			<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/69974084"></iframe> 
    			<h2> Snowapple 7pm, $5 </h2> <br>
    			<iframe src="http://player.vimeo.com/video/16101483"></iframe> 
    			<h2> Hella Tight 10pm, $5 </h2>

</div-->

</body>

</html>
